.kaihom{color:red;}
.main{color:blue;}
.merger{color:#c0c;}
table {text-align:center;margin: 10px;}

$outer-percentage: 75%;
$inner-percentage: 90%;

$multiplier: 1;
/* the ratio of hue difference: (-ung / -ng) / (-u - -i)  */

@for $i from 0 through 5 {
	.outer_shiep#{$i}{
		background-color:hsl($i*360/(6+$multiplier),100%,$outer-percentage);
	}
	.inner_shiep#{$i}{
		background-color:hsl($i*360/(6+$multiplier),100%,$inner-percentage);
	}
}


	.outer_shiep#{6}{
		background-color:hsl((5+$multiplier)*360/(6+$multiplier),100%,$outer-percentage);
	}
	.inner_shiep#{6}{
		background-color:hsl((5+$multiplier)*360/(6+$multiplier),100%,$inner-percentage);
	}

